<ion-modal-view>
  <ion-header-bar class="main-color">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-information-circled"></button>
      </span>
    </div>
    <div class="h1 title title-left light">Sheba Medical Center</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
      <button class="button button-assertive button-fab" ng-click="closeInfo()">
        <i class="icon ion-close-round"></i>
      </button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content class="padding" has-bouncing="true">
  <div class="about_images">
      <img src="img/about_2.png">
    </div>
  <p class="dark" style="padding-bottom: 20px; font-size: 15px; margin-top: 8px;">
    The Sheba Medical Center (SMC), Israel's major hospital and its leading center of medical research and education, has made a commitment to clinical excellence, based on a strong research and development foundation, by investing in profes-sional human resources, infrastructure and facilities. <br style="margin-bottom: 10px;">SMC is known for the broad scope of its work and experience in Health. SMC is the largest and most comprehensive Medical Center in the Middle East. It operates two hospitals (a general and a rehabilitation) with a total of 1,700 beds, has extensive research activities and an academic training campus; Clinical activity: 1,400,000 outpatient visits/year; 170,000 emergency patients/year; 85,000 hospitalizations/year; 48,000 surgical procedures/year; and 10,500 deliveries/year.<br style="margin-bottom: 10px;">Approximately 7,500 health care professionals provide almost four million proce-
dures and medical tests to more than one million patients a year. Sheba also is home to the Israel National Center for Health Policy and Epidemiology Research (the equivalent to the U.S.National Institutes of Health-NIH)
</p>
  
  </ion-content>
</ion-modal-view>
