<ion-modal-view>
  <ion-header-bar class="main-color">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-map"></button>
      </span>
    </div>
    <div class="h1 title title-left light">Sheba Medical Center</div>
    <div class="buttons buttons-right header-item">
      <span class="right-buttons">
      <button class="button button-assertive button-fab" ng-click="closeMap()">
        <i class="icon ion-close-round"></i>
      </button>
      </span>
    </div>
  </ion-header-bar>
  <ion-content ng-init="init()" class="padding" has-bouncing="true" ng-controller="MapCtrl">
  <div id="map-cont" style="width: 100%; height: 100%;" data-tap-disabled="true"></div>
  </ion-content>
</ion-modal-view>
