<ion-view class="main">
  <ion-header-bar class="main-color">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-map"></button>
      </span>
    </div>
    <div class="h1 title title-left light">{{ 'Title' | translate }}</div>
  </ion-header-bar>
  <ion-content class="center" has-bouncing="true">
    <div class="row">
    <div class="col">
        <h3 class="dark">{{'Item1_title' | translate}}</h3>
        <button id="main_fab" href="#/tab/start" class="button button-calm button-fab big-fab" ng-click="start_nav()">
        <i class="icon ion-plus-circled"></i>
        </button>
    </div>
    </div>
  </ion-content>
</ion-view>
