<ion-view>
  <ion-header-bar class="main-color">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-map"></button>
      </span>
    </div>
    <div class="h1 title title-left light">{{'Title' | translate}}</div>
  </ion-header-bar>
  <ion-content has-bouncing="true" ng-controller="AboutCtrl">
      <ion-list class="animate-fade-slide-in">
      <ion-item style="padding: 0!important; margin-left: 0;
margin-right: 0;">
      <div class="img_head">
        <p>Version 0.0.1<br>
        © 2015 {{'About_title' | translate}}</p>
      </div>
      </ion-item>
      <ion-item>
      <div id="about_cont" class="padding ing">
        <p class="dark" translate="About_desc"></p>
      </div>
      </ion-item>
      </ion-list>
  </ion-content>
  <button class="button button-calm button-fab left-fab list" ng-click="openInfo()">
        <i class="icon ion-information-circled"></i>
  </button>

  <button class="button button-calm button-fab main-fab" ng-click="openMap()">
        <i class="icon ion-map"></i>
  </button>
</ion-view>
