/* Empty. Add your own CSS if you like */

* {
    /*box-shadow: none !important;*/
}

@media(max-height: 375px) {
  body .big-fab {
  	width: 145px!important;
  	height: 145px!important;
  }
}

.main-color {
	background-color: #1E73BE;
	border-color: #1E73BE;
	color: white;
}

.main-color2 {
	background-color: #002452;
	border-color: #002452;
}

.text-color {
	color: #4C4C4C;
}

.main-fab {
	display: inline-block;
	position: absolute;
	bottom: 60px; 
	right: 20px;
}

.big-fab {
	width: 180px!important;
	height: 180px!important;
}

.big-fab .icon::before {
	font-size: 110px;
}

.left-fab {
	display: inline-block;
	position: absolute;
	bottom: 60px; 
	left: 20px;
}

.about_images img {
	max-width: 100%;
	display: inline-block;
	margin: 0 auto;
}

.about_images {
	width: 100%;
	text-align: center;
}

.bar-header .title {
	left: 32px!important;
}

.img_head {
	background-image: url('../img/about_head.JPG');
	height: 200px;
	background-size: cover;
	position: relative;
}

.img_head p {
	position: absolute;
bottom: 0;
color: white;
font-size: 17px;
background-color: rgba(76, 76, 76, 0.9);
width: 100%;
padding: 5px;
text-align: center;
}

#about_cont p {
	font-size: 18px;
	text-overflow: inherit;
	white-space: normal;
}

.about_grey {
	height: 100px;
	background-color: grey;
	text-align: left;
	font-size: 15px;
}
.scroll{height: 100%;}

.main .scroll {
	height: inherit!important;
}

.pane, .modal {
	background-image: url("../img/pattern.png") !important;
}

select {
	background: transparent!important;
}

.item-select select {
	max-width: 55%;
	text-overflow: ellipsis;
	text-align: right;
}

.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}